*{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

header{
  width: 100%;
  background-color: #284b63;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*  font-family: 'Lora', serif;  */

#header__titulo{
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1{
  color: #deb841;
  font-size: 6rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 4px;
}

h2{
  color: #deb841;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#header__switch{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header__p__darkMode{
  color: #8e9aaf;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-top: 6px;
}

main{
  width: 100%;
  background-color: #fafaff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__form{
  width: 74%;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  font-family: 'Lora', serif;
  color: #403d39;
  font-weight: 600;
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.form__opciones{
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

input{
  width: 80%;
  height: 30px;
  font-family: 'Lora', serif;
  color: #403d39;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 8px;
}

button{
  width: 18%;
  height: 33px;
  font-family: 'Lora', serif;
  font-weight: 400;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #deb841;
  border: 0px;
}

button:hover{
  background-color: #284b63;
  color: #deb841;
}

input{
  border: 0px;
}



/*    SWITCH DARK MODE    */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8e9aaf;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #eb5e28;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #eb5e28;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }